{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Posts
{% endblock title %}


{% block content %}
<h1>Все новости</h1>
<h5>Количество новостей: {{ posts|length }}</h5>
<br>
{% for post in posts %}
<h2>{{ post.title|censor }}</h2>
<h5>{{ post.article_date|date:'d M Y' }}</h5>
<br>
<h5><i>{{ post.text|truncatewords:20|censor }}</i></h5>
<br>
<br>
{% endfor %}
{% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}